body {
  background-color: beige;
}

p {
  font-family: serif;
  font-weight: 400;
}

h2 {
  font-family: sans-serif;
  font-weight: 400;
}

a[href$="html"]:hover {
  color: blue;
}

a[href*="https://www.nytimes.com/2018/08/27/science/cave-bears-dna-extinction.html"]:link {
  color: skyblue;
  text-decoration: none;
}

a[href*="https://www.nytimes.com/2018/08/27/science/cave-bears-dna-extinction.html"]:hover {
  color: skyblue;
}

a[href*="http://igbconline.org/conserving-grizzly-populations-2/"]:hover {
  color: skyblue;
}

a[href*="http://igbconline.org/conserving-grizzly-populations-2/"]:link {
  color: skyblue;
  text-decoration: none;
}

a[href*="https://polarbearsinternational.org/climate-change"]:hover {
  color: skyblue;
}

a[href*="https://polarbearsinternational.org/climate-change"]:link {
  color: skyblue;
  text-decoration: none;
}

a#UCVTS:hover {
  color: blue;
}

a[href*="mailto:info@example.com"]:hover {
  color: blue;
}

a.button:hover {
  color: red;
}

.intro {
  font-weight: lighter;
}

.paragraphtitle {
  font-style: italic;
}

#paragraph1 {
  font-weight: bold;
}

#paragraph2 {
  font-weight: bold;
}

#paragraph3 {
  font-weight: bold;
}

div img {
  height: 120px;
  width: 250px;
  border: 8px solid;
  border-width: 10px;
  border-color: red yellow green blue;
  margin: 5px;
}

span img {
  height: 100px;
  width: 150px;
  border: 2px solid;
  border-width: medium;
  border-color: black;
  border-radius: 25px;
  margin: 5px;
  padding: 6px;
}


div span {
  background-color: skyblue;
}

div table {
  background-color: yellow;
}

#titledecription {
  text-decoration: overline;
}
